<head>
  <title>Hello Friend!</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body>
  <div class="container">
    <h1>My day in @Model.Location </h1>
    <p>
      One day while visiting @Model.Location, I found a @Model.Tool!
      I @Model.PastVerb and I found a @Model.Profession and told them all about it.
      They @Model.PastVerb2 and ran over to see what all the fuss was about.
      Then suddenly an @Model.Adjective @Model.Creature appeared and we were @Model.PastVerb3.
    </p>
  </div>
</body>