<head>
  <title>Mad Lib Puppy</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body>
  <div class="container">
    <p>A @Model.Color puppy named @Model.Name @Model.PastVerb @Model.Adjective outside and ran into a @Model.Dinosaur whereupon it was immediately devoured.</p>
  </div>
</body>